/* @author Robbie Diefenbach, Star Trek: The Next Generation, Southern Illinois University Developed: 12-15-2023  Tested: 12-15-2023 */ 
/*<a href="https://www.flaticon.com/free-icons/bicycle" title="bicycle icons">Bicycle icons created by Freepik - Flaticon</a>-->*/
/* the styles for the elements */ 
/* tablet landscape and desktop layout (960px or more) */ 
@media only screen and (max-width: 4000px) {
    #mobile_menu { 
    display: none; 
    }
}    

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
    #mobile_menu { 
        display: none; 
    }
}

/* mobile landscape layout (480px to 767px) */ 
@media only screen and (max-width: 767px) {
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }       /* 22 ÷ 16 */ 
    header h3 { font-size: .8125em; }   /* 13 ÷ 16 */ 
    p { font-size: .875em; }            /* 14 ÷ 16 */ 
    article h1, main h2, aside h2
        { font-size: 1.5em; }             /* base font size */ 
    aside li { font-size: .875em; }     /* 14 ÷ 16 */
    
}
/* mobile portrait layout (479px or less) */ 
@media only screen and (max-width: 479px) {
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }   /* 22 ÷ 16 */ 
    header h3 { font-size: .8125em; }   /* 13 ÷ 16 */ 
    p { font-size: .875em; }            /* 14 ÷ 16 */ 
    article h1, main h2, aside h2 
        { font-size: 1.5em; }             /* base font size */ 
    aside li { font-size: .875em; }     /* 14 ÷ 16 */ 
  
}

body {
    font-size: 1em;
    width: 90%;
    max-width: 1024px;
    background-color: #0f0061; /* this color is a dark indigo color, representing the final frontier*/
    margin: 10px auto;
    color: #bd6d2c;
    } 
header {
    width: 105%;          /* 940 / 960 * 100 */
    padding: 10px 1.0417%;
    clear: both; 
    font-size: 2em;
    color: #2c7cbd;
    font-family:monospace;
    font-style: oblique;
    align-content: center;
}
main {
    width: 50%;
    height: 500px;
    background-color: #90bfee; /* this color is jordy blue for column panel */
    float: left; }
aside {
    width: 50%;
    height: 500px;
    background-color: #eebf90; /* this color is a light brownish for column panel */
    float: left; }
#nav_menu ul {
    list-style-type: none;
    padding: 2em 0;
    text-align: center;
    border-top: 2px solid #bd6d2c; /*orange, opposite to background*/
    border-bottom: 2px solid #bd6d2c; 
    background-color: #bd6d2c
}
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em; }
#nav_menu ul li a {
    font-weight: bold;
    color: blue; }
#nav_menu ul li a.current { text-decoration: ;}
h1, h2 {
    padding: 10px;
    color: #bd6d2c;
}
p { 
    padding-left: 5px;
    padding-right: 5px;
}
footer { 
    clear: both; 
     }
ul { 
    padding-left: 10px; 
} 

li {
    padding-left: 10px; /* space between bullet and text */ 
} 

/* Default state */
a:link {
}

/* Visited state */
a:visited {
  color: #800080; /* Purple */
}

/* Hover state */
a:hover {
  color: #ff0000; /* Red */
}

/* Active state */
a:active {
  text-decoration-color: #008000; /* Green */
    text-decoration: none
}
figcaption {
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: -0em;
    margin-bottom: .3em;
    background-color: #bd6d2c
}

.orangebord {
    width: 100%;
    min-width: 300px;
    max-width: 1024px;
    position: relative;	
	margin:  0 auto;
	max-width: 630px;
    height: 350px;
}

/* Special main image on index page with purple border and rounded corner- must have .purpbord div class */ 
.orangebord img {
    width: 100%;
    min-width: 300px;
    max-width: 1024px;
    position: absolute;	
	overflow: hidden;
    border: 3px solid #bd6d2c;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    margin: 0;
	opacity: 1;
    /* Sets the width and height for the images*/
	max-width: 1024px;
	height: 350px;
}


/* Fade-in for rollover image */
.orangebord .fadein{
  z-index: 9999;
  transition: opacity 2s linear;
  cursor: pointer;
}

/* burned in effect on 2nd image */
.orangebord:hover > .fadein {
  opacity: 0.1;
}

/* basic images where purple borders are not required */ 
img {
    position: static;
}

table {
    border: 1px solid black;
    border-collapse: collapse; }
th, td {
    border: 1px solid black;
    text-align: center; }
th.left, td.left { text-align: center; }
thead, tfoot { background-color: #9090ee; }
tfoot { font-weight: bold; }
